h1 {

    color: cyan;
}
h1 {
   text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    color: deepskyblue;
}
h3 {
    text-align: center;
}
p1 {
    text-align: center;
}
p1 {
    color: cornflowerblue;
}
p {
    text-align: center;
}
p {
    color: blue;
}
#tof {
    color: blue;
}
#niettof {
    color: cornflowerblue
}
div {
    text-align: center;
}
#lijst {
    text-align: left;
}
#tol {
    text-align: left;
}
#lijst {
    color: rgb(0, 76, 139);
}
#tol {
    color: rgb(0, 76, 139);
}
#oke {
    color: cornflowerblue;
}
#oke {
    text-align: left;
}
#nou {
    text-align: left;
}
#jo {
    text-align: left;
}
#nou {
    color: rgb(0, 76, 139);
}
#jo {
    color: cornflowerblue;
}
#app {
    color: rgb(0, 76, 139);
}
#app {
    text-align: left;
}
#eind {
    text-align: center;
}
#zezz {
    text-align: center;
}